
    @font-face {
        src: url(../fonts/Roboto/Roboto-Regular.ttf);
        font-family: 'Roboto';    
        font-weight: normal;
    }

    @media screen and (max-width: 768px){

        .navbar-nav{
            padding-left: 45px!important;
        }
    }
  
    header{
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    }

    .navbar .navbar-brand {
    color: #337ab7!important;
    }

    .navbar .navbar-nav li a{
        color: black!important;
        text-decoration: none;
    }

    .navbar .navbar-nav li a:hover{
    color: #69c6ba!important;
    }

    .navbar .navbar-nav>.active> a, 
    .navbar .navbar-nav>.active> a:focus, 
    .navbar .navbar-nav>.active> a:hover {
        color: #69c6ba!important;
    }